<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Bienvenido, <%= @user.email %></h1>
        <p>Te has registrado exitosamente.</p>
    </body>
</html>