<!DOCTYPE html>
<html>
  <head>
    <title>DoingTests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <% if user_signed_in? %>
      <li>
        <%= link_to "Cerrar Sessión", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Registrarse', new_user_registration_path %>
    <% end %>
  </body>
</html>
